.forecast {
    color: rgb(54, 54, 54);
    font-size: 4vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.today {
    color: rgb(5, 5, 5);
    font-size: 2vh;
}

.current {
    margin-top: 7vh;
    padding: 3vh 7vh;
    border-radius: 2vh;
    background-color:rgba(255, 255, 255, 0.7);
}

.city {
    font-weight: 300;
}

.description {
    padding: 1vh;
    font-size: 2vh;
}

.temperature {
    font-size: 8vh;
}

.feels_like {
    padding: 1vh;
    font-size: 2vh;
}

.error {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    color: rgba(255, 255, 255, 0.7)
}