.week {
    margin: 5vh 2vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.week_day {
    font-size: 3vh;
    padding: 1vh 0;
    margin-bottom: 2vh;
    width: 90%;
    background-color: rgba(231, 231, 231, 0.8);
    border-radius: 1vh;
    text-align: center;
}

.week_day div {
    padding: 1vh;
}

.week_day span {
    padding: 2vh;
}

.description {
    font-size: 2.5vh;
}

@media screen and (min-width: 1200px) {
    .week {
        display: grid;
        grid-template: 1fr / repeat(7, 1fr);
    }
    .week_day {
        height: 40vh;
    }
    .week_day div {
        padding: 2vh;
    }
    .week_day span {
        display: block;
    }
}